/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }
        body.body {
            background-color: black;
        }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
        body.body {
        color: #fff;
        background-color: #000;
        }
        /* Header */
        div.main__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 30px;
        }
        header {
            border: 1px solid #fff;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-color: rgba(101, 101, 101, 0.33);
        }
        h1.header__title, .col-xl-auto {
            font-family: Righteous;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 40px;
        }
        h1.header__user, .col-xl-auto {
            display: flex;
            justify-content: flex-end;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            width: 87px;
            height: 30px;
            padding-top: 15px;
        }
        h1.header__title::before {
            content: url(https://cdn.discordapp.com/attachments/713453989517066250/716024824106844291/logo_header_blanco.png);
        }
            /* Fin Header */
            /* Footer */
        div.main__footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 30px;
        }
        p#footer__border {
            position: absolute;
            bottom: 40px;
            border: 1px solid rgba(101, 101, 101, 0.33);
            color: #000;
            border-bottom: 0px;
            border-left: 0px;
            border-right: 0px;
        }
        h1.footer__designed-in {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            position: absolute;
            bottom: 30px;
        }
        h1.footer__powered-by {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            position: absolute;
            bottom: 30px;
            right: 40px;
        }
        h1.footer__powered-by::after {
            padding-left: 15px;
            content: url(https://cdn.discordapp.com/attachments/712706917365186570/716040727544725504/spotify_logo3.png);
            border-top: 1px solid rgba(101, 101, 101, 0.33);
            padding-top: 18px;
        }
        /* Fin Footer */
        /* Subtítulos */
        h1.subtitle-1 {
            display: flex;
            justify-content: center;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 38px;
            line-height: 46px;
            padding: 20px;
        }
        h2.subtitle-2 {
            display: flex;
            justify-content: center;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 27px;
            border-bottom: 0px;
            padding: 20px;
        }
        /* Fin Subtítulos */
        /* Tabla */
        table.main-table, table.col-xl-9 {        
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;        
            width: 858px;
            height: 51px;
            left: 200px;
            top: 425px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 16px;
        }
        td#first-td {
            padding-left: 20px;
        }
        table, td, tr {
            padding-left: 75px;
        }
        tr.second-tr, tr.fourth-tr {
            background: #282828;
        }
        td.first-tr {
            padding-bottom: 15px;
        }
        td.second-tr, td.third-tr, td.fourth-tr, td.fifth-tr  {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        td.second-td {
            opacity: 0.5;
        }
        caption.main-table__first-caption, caption.col-xl-3 {
            position: absolute;
            left: 100px;
            top: -145px;
            display: flex;
            flex-direction: column;
            font-family: 'Source Sans Pro', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            align-self: start;
            justify-content: center;
            color: #fff;
        }
        /* Fin Tabla */
        /* Show More */
        p.button__show-more {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            height: 22.09px;
            left: 44.28%;
            right: 48.76%;
            top: calc(50% - 22.09px/2 + 219.98px);
        }
        p.button__show-more::after {
            content: url(https://cdn.discordapp.com/attachments/713453989517066250/716031399882260500/arrow_down1.png);
        }
        /* Fin Show More*/
}