/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
    body{
        background-color: #000;
    }
    .header__title{
        display: flex;
        justify-content: center;
        color: #FFF;
    }
    .register__box{
        flex-direction: column;
        background-color: #FFF;
        margin: 15% 9px 8% 9px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
    }
    .form__register-top{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
    }
    div>form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .form__register-email,.form__register-confirm-email,.form__register-pasword,.form__register-username{
        height: 57px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 33px;
    }
    .form__register-bootom{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: rgba(31, 32, 65, 0.25)
    }
    
    .form___register-primer-secion{
        margin: 0 10%;
    }
    .form__register-second-secion{
        flex-direction: row;
    }
    footer{
        color: #FFF;
        font-size: 1px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* Form Register */
    body{
        background-color: #FFF;
    }
    header {
        border: 1px solid #fff;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-color: rgba(101, 101, 101, 0.33);
    }
    .header__title {
        color: #000;
        text-decoration: none;
    }
    .register__box{
        margin: 0 0;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
    div>h1{
        justify-content: center;
        align-items: center;
        width: 279px;
        height: 16px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
    }
    h1,h2{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
    }
.form__register-top{
    display: flex;
    justify-content: center;
    width: 342px;
    height: 16px;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.form__register-email{
    width: 527px;
    height: 57px;
    left: 313px;
    top: 170px;
    color: grey;
    background: #FFFFFF;
/* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 33px;
}
.form__register-confirm-email{
    width: 527px;
    height: 57px;
    left: 313px;
    top: 242px;
    color: grey;
    background: #FFFFFF;
/* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 33px;
}
.form__register-pasword{
    width: 527px;
    height: 57px;
    left: 313px;
    top: 314px;
    color: grey;
    background: #FFFFFF;
/* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 33px;
}
.form__register-username{
    width: 527px;
    height: 57px;
    left: 312px;
    top: 387px;
    color: grey;
    background: #FFFFFF;
/* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 33px;
}
.form__register-bootom{
    width: 176px;
    height: 18px;
    left: 316px;
    top: 466px;
    color: grey;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.25);
}
.form__register-day{
    width: 90px;
    height: 56.43px;
    left: 316px;
    top: 490px;
    color: grey;
    background: #FFFFFF;
/* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 50px;
}
.form__register-month{
    width: 211px;
    height: 56.43px;
    left: 431px;
    top: 490.44px;
    color: grey;
    background: #FFFFFF;
/* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 50px;
}
.form__register-age{
    width: 173px;
    height: 56.43px;
    left: 666px;
    top: 490.44px;
    color: grey;
    background: #FFFFFF;
/* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 50px;
}
.form__register-button{
    width: 191px;
    height: 38px;
    left: 480px;
    top: 647px;
    color: #FFFFFF;
    font-weight: bold;
    background: #1ED760;
    border-radius: 42px;
}
.form__register-line{
    width: 527px;
    height: 0px;
    left: 313px;
    top: 738px;
    border: 1px solid rgba(101, 101, 101, 0.33);
}
.form__register-line-bottom{
    display: flex;
    justify-content: center;
    width: 185px;
    height: 16px;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.form__register-login{
    width: 204px;
    height: 38px;
    left: 470px;
    top: 824px;
    font-weight: bold;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 42px;
}
/* footer*/
div.main__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}
p#footer__border {
    position: absolute;
    bottom: 40px;
    border: 1px solid rgba(101, 101, 101, 0.33);
    color: #fff;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}
h1.footer__designed-in {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    position: absolute;
    bottom: 30px;
}
h1.footer__powered-by {
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    position: absolute;
    bottom: 30px;
    right: 40px;
}
h1.footer__powered-by::after {
    padding-left: 15px;
    content: url(https://cdn.discordapp.com/attachments/712706917365186570/716040727544725504/spotify_logo3.png);
    border-top: 1px solid rgba(101, 101, 101, 0.33);
    padding-top: 18px;
}
/* End Footer */
/* End Form Register */
}