/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    /* Home */
    body.body {
        color: #fff;
        background-color: #000;
    }
        /* Header */
        div.main__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 30px;
        }
        div>a {
            display: block;
            color: #FFFFFF;
            font-weight: bold;
        }
        header {
            border: 1px solid #fff;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-color: rgba(101, 101, 101, 0.33);
        }
        h1.header__title {
            font-family: Righteous;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 40px;
        }
        a.header__register {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            width: 87px;
            height: 30px;
            padding-top: 15px;
            position: absolute;
            right: 300px;
        }
        a.header__login, .col-xl-auto {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            padding-top: 15px;
        }
        h1.header__title::before {
            content: url(https://cdn.discordapp.com/attachments/713453989517066250/716024824106844291/logo_header_blanco.png);
        }
        /* Fin Header */
        .home__background-image {
            justify-content: center;
            align-items: center;
        }
        /* Footer */
        div.main__footer {
            display: flex;
            justify-content: space-between;
            padding: 30px;
        }
        footer {
            border: 1px solid #fff;
        }
        h1.footer__designed-in {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            position: absolute;
            bottom: 30px;
        }
        h1.footer__powered-by {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            position: absolute;
            bottom: 30px;
            right: 40px;
        }
        h1.footer__powered-by::after {
            padding-left: 15px;
            content: url(https://cdn.discordapp.com/attachments/712706917365186570/716040727544725504/spotify_logo3.png);
            padding-top: 18px;
        }
        /* Fin Footer */
    h1.main__home-title {
        display: flex;
        justify-content: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 50px;
        line-height: 61px;
        padding-top: 80px;
    }
    div.home__input {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    input.input__search {
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 33px;
        width: 738px;
        height: 57px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 24px;
    }
    input.input__button {
        width: 348px;
        height: 57px;
        background: #1ED760;
        border-radius: 42px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .footer__border{
        width: 100%;
        position: absolute;
    }
    /* End Home */
    /* Form Login */

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
div>h1{
    justify-content: center;
    align-items: center;
    width: 279px;
    height: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
div>h1.form__login-top{   
    display: flex;
    justify-content: center;
    color: #000000;
}
div>h1.form__login-bottom{
    left: 437px;
    top: 384px;
    color: #1ED760;
}
.form__login-username{
    width: 527px;
    height: 57px;
    left: 313px;
    top: 170px;
    color: #777;
    background: #FFFFFF;
/* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 33px;
}
.form__login-pasword{
    width: 527px;
    height: 57px;
    left: 313px;
    top: 237px;
    background: #FFFFFF;
    color: #777;
/* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 33px;
}
.form__login-button-login{
    width: 204px;
    height: 38px;
    left: 636px;
    top: 319px;
    font-weight: bold;
    color: #FFFFFF;
    background: #1ED760;
    border-radius: 42px;
}
.form__login-line{
    width: 527px;
    height: 0px;
    left: 313px;
    top: 445px;
    border: 1px solid rgba(101, 101, 101, 0.33);
}
.form__login-line-button{
    display: flex;
    justify-content: center;
    width: 185px;
    height: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.from__login-register{
    width: 204px;
    height: 38px;
    left: 470px;
    top: 824px;
    font-weight: bold;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 42px;
}

/* End Form Login */
    /* Form Register */

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
    div>h1{
        justify-content: center;
        align-items: center;
        width: 279px;
        height: 16px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
    }
    h1,h2{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
    }
.form__register-top{
    display: flex;
    justify-content: center;
    width: 342px;
    height: 16px;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.form__register-email{
    width: 527px;
    height: 57px;
    left: 313px;
    top: 170px;
    color: grey;
    background: #FFFFFF;
/* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 33px;
}
.form__register-confirm-email{
    width: 527px;
    height: 57px;
    left: 313px;
    top: 242px;
    color: grey;
    background: #FFFFFF;
/* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 33px;
}
.form__register-pasword{
    width: 527px;
    height: 57px;
    left: 313px;
    top: 314px;
    color: grey;
    background: #FFFFFF;
/* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 33px;
}
.form__register-username{
    width: 527px;
    height: 57px;
    left: 312px;
    top: 387px;
    color: grey;
    background: #FFFFFF;
/* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 33px;
}
.form__register-bootom{
    width: 176px;
    height: 18px;
    left: 316px;
    top: 466px;
    color: grey;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.25);
}
.form__register-day{
    width: 90px;
    height: 56.43px;
    left: 316px;
    top: 490px;
    color: grey;
    background: #FFFFFF;
/* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 50px;
}
.form__register-month{
    width: 211px;
    height: 56.43px;
    left: 431px;
    top: 490.44px;
    color: grey;
    background: #FFFFFF;
/* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 50px;
}
.form__register-age{
    width: 173px;
    height: 56.43px;
    left: 666px;
    top: 490.44px;
    color: grey;
    background: #FFFFFF;
/* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 50px;
}
.form__register-button{
    width: 191px;
    height: 38px;
    left: 480px;
    top: 647px;
    color: #FFFFFF;
    font-weight: bold;
    background: #1ED760;
    border-radius: 42px;
}
.form__register-line{
    width: 527px;
    height: 0px;
    left: 313px;
    top: 738px;
    border: 1px solid rgba(101, 101, 101, 0.33);
}
.form__register-line-bottom{
    display: flex;
    justify-content: center;
    width: 185px;
    height: 16px;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.form__register-login{
    width: 204px;
    height: 38px;
    left: 470px;
    top: 824px;
    font-weight: bold;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 42px;
}
/* End Form Register */
    /* Comienzo "New Playlist"*/
    body.body {
        color: #fff;
        background-color: #000;
    }
    /* Header */
    div.main__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px;
    }
    header {
        border: 1px solid #fff;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-color: rgba(101, 101, 101, 0.33);
    }
    h1.header__title, .col-xl-auto {
        font-family: Righteous;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 40px;
    }
    h1.header__user, .col-xl-auto {
        display: flex;
        justify-content: flex-end;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        width: 87px;
        height: 30px;
        padding-top: 15px;
    }
    h1.header__title::before {
        content: url(https://cdn.discordapp.com/attachments/713453989517066250/716024824106844291/logo_header_blanco.png);
    }
    /* Fin Header */
    /* Footer */
    div.main__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px;
    }
    p#footer__border {
        position: absolute;
        bottom: 40px;
        border: 1px solid rgba(101, 101, 101, 0.33);
        color: #000;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    h1.footer__designed-in {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        position: absolute;
        bottom: 30px;
    }
    h1.footer__powered-by {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        position: absolute;
        bottom: 30px;
        right: 40px;
    }
    h1.footer__powered-by::after {
        padding-left: 15px;
        content: url(https://cdn.discordapp.com/attachments/712706917365186570/716040727544725504/spotify_logo3.png);
        border-top: 1px solid rgba(101, 101, 101, 0.33);
        padding-top: 18px;
    }
    /* Fin Footer */
    /* Tabla */
    table.main-table, table.col-xl-9 {        
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
        width: 858px;
        height: 51px;
        left: 200px;
        top: 425px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 16px;
    }
    td#first-td {
        padding-left: 20px;
    }
    table, td, tr {
        padding-left: 75px;
    }
    tr.second-tr, tr.fourth-tr {
        background: #282828;
    }
    td.first-tr {
        padding-bottom: 15px;
    }
    td.second-tr, td.third-tr, td.fourth-tr, td.fifth-tr  {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    td.second-td {
        opacity: 0.5;
    }
    img.main-table__plus-icon {
        height: 20px;
        width: 20px;
    }
    caption.main-table__first-caption, caption.col-xl-3 {
        position: absolute;
        left: 75px;
        top: -145px;
        display: flex;
        flex-direction: column;
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        align-self: start;
        justify-content: center;
        color: #fff;
    }
    /* Fin Tabla */
    /* Show More */
    p.button__show-more {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        height: 22.09px;
        left: 44.28%;
        right: 48.76%;
        top: calc(50% - 22.09px/2 + 219.98px);
    }
    p.button__show-more::after {
        content: url(https://cdn.discordapp.com/attachments/713453989517066250/716031399882260500/arrow_down1.png);
    }
    /* Fin Show More*/
    /* Form */
    div.new-playlist__input {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    /* Form: buscar playlist */
    input.input__search, input.col-xl-2 {
        padding: 12px 20px 12px 40px;
        width: 418px;
        height: 45px;
        font-weight: bold;
        color: #000;
        background: #fff;
        border-radius: 33px;
        resize: none;
    }
    /* Fin Form: buscar playlist */
    /* Form: Nombre de la playlist */
    input.input__playlist-name {
        width: 330px;
        height: 40px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 38px;
        line-height: 46px;
        background-color: #000;
        color: #FFFFFF;
        border-bottom: 1px solid #fff;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        padding-bottom: 10px;
    }
    /* Form: Fin nombre de la playlist */
    /* Fin "New Playlist" */
            /* Edit Playlist */
            body.body {
                color: #fff;
                background-color: #000;
                }
                /* Header */
                div.main__header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 30px;
                }
                header {
                    border: 1px solid #fff;
                    border-top: 0px;
                    border-left: 0px;
                    border-right: 0px;
                    border-color: rgba(101, 101, 101, 0.33);
                }
                h1.header__title, .col-xl-auto {
                    font-family: Righteous;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 32px;
                    line-height: 40px;
                }
                h1.header__user, .col-xl-auto {
                    display: flex;
                    justify-content: flex-end;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 24px;
                    width: 87px;
                    height: 30px;
                    padding-top: 15px;
                }
                h1.header__title::before {
                    content: url(https://cdn.discordapp.com/attachments/713453989517066250/716024824106844291/logo_header_blanco.png);
                }
                    /* Fin Header */
                    /* Footer */
                div.main__footer {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 30px;
                }
                p#footer__border {
                    position: absolute;
                    bottom: 40px;
                    border: 1px solid rgba(101, 101, 101, 0.33);
                    color: #000;
                    border-bottom: 0px;
                    border-left: 0px;
                    border-right: 0px;
                }
                h1.footer__designed-in {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 24px;
                    position: absolute;
                    bottom: 30px;
                }
                h1.footer__powered-by {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 24px;
                    position: absolute;
                    bottom: 30px;
                    right: 40px;
                }
                h1.footer__powered-by::after {
                    padding-left: 15px;
                    content: url(https://cdn.discordapp.com/attachments/712706917365186570/716040727544725504/spotify_logo3.png);
                    border-top: 1px solid rgba(101, 101, 101, 0.33);
                    padding-top: 18px;
                }
                /* Fin Footer */
                /* Subtítulos */
                h1.subtitle-1 {
                    display: flex;
                    justify-content: center;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 38px;
                    line-height: 46px;
                    padding: 20px;
                }
                h2.subtitle-2 {
                    display: flex;
                    justify-content: center;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 27px;
                    border-bottom: 0px;
                    padding: 20px;
                }
                /* Fin Subtítulos */
                /* Tabla */
                table.main-table, table.col-xl-9 {        
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;        
                    width: 858px;
                    height: 51px;
                    left: 200px;
                    top: 425px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 16px;
                }
                td#first-td {
                    padding-left: 20px;
                }
                table, td, tr {
                    padding-left: 75px;
                }
                tr.second-tr, tr.fourth-tr {
                    background: #282828;
                }
                td.first-tr {
                    padding-bottom: 15px;
                }
                td.second-tr, td.third-tr, td.fourth-tr, td.fifth-tr  {
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                td.second-td {
                    opacity: 0.5;
                }
                caption.main-table__first-caption, caption.col-xl-3 {
                    position: absolute;
                    left: 100px;
                    top: -145px;
                    display: flex;
                    flex-direction: column;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 22px;
                    align-self: start;
                    justify-content: center;
                    color: #fff;
                }
                /* Fin Tabla */
                /* Show More */
                p.button__show-more {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    height: 22.09px;
                    left: 44.28%;
                    right: 48.76%;
                    top: calc(50% - 22.09px/2 + 219.98px);
                }
                p.button__show-more::after {
                    content: url(https://cdn.discordapp.com/attachments/713453989517066250/716031399882260500/arrow_down1.png);
                }
                /* Fin Show More*/
                /* End Edit Playlist */
                        /* Search Playlist */
        /* Header */
        div.main__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 30px;
        }
        header {
            border: 1px solid #fff;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-color: rgba(101, 101, 101, 0.33);
        }
        h1.header__title, .col-xl-auto {
            font-family: Righteous;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 40px;
        }
        h1.header__user, .col-xl-auto {
            display: flex;
            justify-content: flex-end;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            width: 87px;
            height: 30px;
            padding-top: 15px;
        }
        h1.header__title::before {
            content: url(https://cdn.discordapp.com/attachments/713453989517066250/716024824106844291/logo_header_blanco.png);
        }
        /* End Header */
        .container{
            flex-direction: row;
            flex-wrap: nowrap;
        }
        .search__music-img{
            width: 100px;
            height: 100px;
            margin: 20px;
            padding: 5px;
        }
        .search__secion-browser{
            width: 753px;
            height: 43px;
            left: 65px;
            top: 125px;
            background: #FFFFFF;
            /* Dark 25% */
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-radius: 33px;
        }
        .search__secion-button{
            width: 213px;
            height: 43px;
            left: 889px;
            top: 125px;
            font-weight: bold;
            color: #FFFFFF;
            background: #1ED760;
            border-radius: 42px;
        }
        /* End Search Playlist */
}