/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    body.body {
        color: #fff;
        background-color: #000;
    }
    table.main-table, table.col-xl-9 {        
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
        width: 858px;
        height: 51px;
        left: 200px;
        top: 327px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 16px;
    }
    td#first-td {
        padding-left: 20px;
    }
    table, td, tr {
        padding-left: 75px;
    }
    tr.second-tr {
        background: #282828;
        border-radius: 10px solid red;
    }
    tr.fourth-tr {
        background: #282828;
    }
    td.first-tr {
        padding-bottom: 15px;
    }
    td.second-tr {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    td.third-tr {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    td.fourth-tr {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    td.fifth-tr {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    td.second-td {
        opacity: 0.5;
    }
    img.main-table__plus-icon {
        height: 20px;
        width: 20px;
    }
    caption.main-table__first-caption, caption.col-xl-3 {
        position: absolute;
        left: 75px;
        top: -145px;
        display: flex;
        flex-direction: column;
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        align-self: start;
        justify-content: center;
        color: #fff;
    }
    p.button__show-more {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        height: 22.09px;
        left: 44.28%;
        right: 48.76%;
        top: calc(50% - 22.09px/2 + 219.98px);
    }
    form.form__search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    input.input__search {
        width: 418px;
        height: 37px;
        font-weight: bold;
        color: rgba(31, 32, 65, 0.25);
        background: #fff;
        border-radius: 33px;
    }
 }